<div id="mainContent">
<h1>New page</h1>
<p style="font-style:italic; margin-top:10px">NOTE: A new page must contain an image to display correctly.</p>
<%= render 'form' %>

<%= link_to 'Back', pages_path %>
</div>
