/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *  #002157
 *= require_self
 *= require_tree .
 */
body {
	margin: auto;
	padding: 0;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	color: #271808;
	background: #697E6E;
}
a {
	color: #271808;
}
#wrapper {
	margin: auto;
	width: 1000px;
	border: 1px solid #ffffff;
	box-shadow: 5px 5px 5px #333333;
	background: #a89a8c;
	margin-bottom: 30px;
}
#banner {
	margin: 0;
	padding: 0;
	height: 150px;
	background: none;
}
#logo {
	width: 700px;
	height: 150px;
	float: left;
	margin-left: 60px;
	background: url('/assets/bannerdlcc.png');
}
/*TOP CORNER LOGIN*/
#login {
	width: 300px;
	height: 150px;
	float: left;
	margin-top: 10px;
	color: #a89a8c;
}
#login h1 {
	font-size: medium;
	float: left;
	color: #1c0f01;
}
#login a {
	float: right;
	padding-right: 10px;
	color: #1c0f01;
}
#login p {
	margin-top: -5px;
}
#login label {
	color: #1c0f01;
}
#new_user_session {
	font-size: small;
	float: left;
}
#user_session_login {
	width: 60px;
	box-shadow: 0px 0px 1px 1px;
}
#user_session_password {
	width: 60px;
	border: 1px solid #a89a8c;
	box-shadow: 0px 0px 1px 1px;
}
#notice {
	clear: both;
}
input {
	color: #1c0f01;
	border: 1px solid #a89a8c;
}
/*END TOP CORNER LOGIN*/
#mainNav {
	width: 1000px;
	height: 40px;
	font-size: 16px;
}
#mainNav a {
	text-decoration: none;
	color: #002157;
}
.adminNav {
	font-size: 12px;
	width: 750px;
	padding-left: 150px;
}
#dashContent {
	width: 1000px;
}
#mainContent {
	float: right;
	width: 825px;
	padding-right: 20px;
}
#mainContent2 {
	float: left;
	width: 600px;
	margin-left: 10px;
	padding-right: 10px;
	margin-top: 25px;
}
#mainContent2 h1 {
	color: #002157;
	font-size: x-large;
	padding-left: 10px;
}
#mainContent2 p {
	font-size: 14px;
	padding-left: 10px;
}
#mainContent2 img {
}
#mainContent h1 {
	color: #002157;
	font-size: x-large;
	padding-left: 10px;
}
#mainContent h2 {
	padding-left: 10px;
}
#mainContent p {
	font-size: 14px;
	padding-left: 10px;
}
#mainContent img {
}
#mainContent td {
	padding-left: 15px;
}
#mainContent td.Event span {
	font-size: x-small;
}
#mainContent dl {
	padding-left: 10px;
}
h2.title {
	margin-top: -40px;
}
#leftCol {
	width: 148px;
	margin: 0;
	background: #fff;
}
#pageNav {
	font-size: 16px;
	width: 148px;
	margin: 0;
	/*min-height: 550px;
	max-height: none;*/
	background: #ffffff;
	padding-left: 5px;
	padding-top: 10px;
}
#pageNav a {
	text-decoration: none;
	color: #002157;
}
#pageNav a:hover {
	text-decoration: underline;
}
#pageNav h2 {
	color: #002157;
	text-decoration: underline;
	margin-top: 0px;
}
a.admin {
	padding-left: 10px;
}
#footer {
	width: 1000px;
	height: 150px;
	margin-top: -16px;
	font: #002157;
	background: url('/assets/footerdlcc.png');
	font-size: x-small;
	text-align: center;
	clear: both;
}
#footer h1 {
	padding-top: 75px;
	font-size: small;
}
#footer p {
	padding-top: 0px;
}
/*CONTACT US*/
form.contact {
	float: left;
	width: 400px;
}
/*Resource List & Categories */
#resourceCats {
	float: right;
	width: 300px;
}
p.instructions {
	font-size: small;
	padding-top: 5px;
}
.atBlurb {
	font-size: small;
	padding-left: 5px;
}
/*Events*/
span.instructions {
	font-style:italic;
	font-size: small;
}
/*Dash Page*/
#dashLeft {
	float: left;
	width:153px;
	background: #fff;
	margin-top:20px;
}
#dashLeft h1 {
	color: #002157;
	text-decoration: underline;
	margin-top: 0px;
	margin-left: 10px;
}
.eventItem {
	padding-left: 10px;
	padding-right: 10px;
}
.eventItem a {
	text-decoration: none;
}
.eventBlurb {
	font-size: small;
}