/*************************************
*  Resources           *
**************************************/
dl.resourceList {
	margin-left:5px;
	}
	
dl.resourceList dt {
	margin-top:8px;
}	
dl.resourceList dt a{
	font-size:.9em;
}	
dl.resourceList dt.doc a{
		background:url('/assets/news_icon_sm.gif') no-repeat top left;
		padding-left:25px;
	}
dl.resourceList dt.pdf a{
		background:url('/assets/pdf.gif') no-repeat top left;
		padding-left:25px;
	}
dl.resourceList dt.word a{
		background:url('/assets/doc.gif') no-repeat top left;
		padding-left:25px;
	}
dl.resourceList dt.excel a{
		background:url('/assets/xls.gif') no-repeat top left;
		padding-left:25px;
	}
dl.resourceList dt.link a{
		background:url('/assets/link.png') no-repeat top left;
		padding-left:25px;
	}
dl.resourceList dt.page a{
		background:url('/assets/page.png') no-repeat top left;
		padding-left:25px;
	}
dl.resourceList  dd {
	font-size:.72em;
	/*color:#630434;*/
	color:#737161;
	color:#444;
	margin-left:20px;
	}
	dl.resourceList  dd p,dl.refdocs dd div {
	margin:0;
	padding:0;
}

div.cat_list {
	float:left;
	margin-right:20px;
	}