<nav id="pageNav">
  <h2>Contact Us</h2>
  <p>2827 Country Club Way<br />
	 Albion, MI 49224</p>
  <p>Phone:<br />
	 (517) 629-9015</p>
  <p>Fax:<br />
	 (517) 629-2665
  <p><%= link_to 'Contact Us', :controller => 'contact_us', :action => 'new' %>
</nav>
