<h1>Membership</h1>
	<p>Become a member of our wonderful club! Below are the levels of membership offered:</p>
	<h2>Golf</h2>
		<p>This is the golf membership description</p>
	<h2>Social</h2>
		<p>This is the social membership description</p>